@{
    ViewData["Title"] = "Chat";
}

<script src="~/js/signalr-client.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', () => {
            let connection = new RpcConnection(`http://${document.location.host}/chat`, 'formatType=json&format=text');

            connection.on('Send', function (message) {
                var child = document.createElement('li');
                child.innerText = message;
                document.getElementById('messages').appendChild(child);
            });

            connection.on('UpdateUser', function (user, status) {
                var child = document.getElementById('id-' + user);
                if (child == null)
                {
                    child = document.createElement('li');
                    var glyph = document.createElement('span');
                    glyph.className = "glyphicon glyphicon-asterisk " + status;
                    child.appendChild(glyph);
                    var text = document.createElement('span');
                    text.innerText = user;
                    child.appendChild(text);
                    child.id = 'id-' + user;
                    document.getElementById('users').appendChild(child);
                }

                var glyph = child.getElementsByClassName("glyphicon");
                glyph[0].className = "glyphicon glyphicon-asterisk " + status;
            });

            connection.start();

            document.getElementById('sendmessage').addEventListener('submit', event => {
                let data = document.getElementById('new-message').value;

                connection.invoke('ChatSample.Hubs.Chat.Send', data, 'json').catch(err => {
                    var child = document.createElement('li');
                    child.style.color = 'red';
                    child.innerText = err;
                    document.getElementById('messages').appendChild(child);
                });

                event.preventDefault();
            });
        });
</script>

<div id="chat-area">
    <ul id="messages"></ul>
    <ul id="users"></ul>
    <div class="clear">
    </div>
    <form id="sendmessage" action="#">
        <input type="text" id="new-message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
</div>